<!-- views/deviation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Standard Deviation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Cryptocurrency Standard Deviation</h1>

        <!-- Back Button -->
        <div class="button-container">
            <button onclick="window.location.href='/home'">Go Back to Home</button>
        </div>

        <!-- Display Result -->
        <div id="result">
            <% if (deviationData) { %>
                <h2><%= deviationData.coin.charAt(0).toUpperCase() + deviationData.coin.slice(1) %> Standard Deviation:</h2>
                <p>Standard Deviation: $<%= deviationData.deviation %></p>
                <h2>Select a Different Cryptocurrency:</h2>
            <% } else { %>
                <h2>Select a Cryptocurrency:</h2>
            <% } %>
        </div>

        <!-- Cryptocurrency Buttons -->
        <div class="button-container">
            <button onclick="window.location.href='/deviation?coin=bitcoin'">Bitcoin</button>
            <button onclick="window.location.href='/deviation?coin=ethereum'">Ethereum</button>
            <button onclick="window.location.href='/deviation?coin=matic-network'">Matic</button>
        </div>
    </div>
</body>
</html>
