<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Price Tracker</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Crypto Price Tracker!</h1>

    <!-- Navigation Buttons -->
    <div class="button-container">
        <button onclick="window.location.href='/cryptos'">Go to Crypto Prices</button>
        <button onclick="window.location.href='/stats'">Go to Stats</button>
        <button onclick="window.location.href='/deviation'">Go to Standard Deviation</button>
    </div>
</body>
</html>
