<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Standard Deviation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/reset-password/<%= token %>" method="POST">
        <h2>New Password</h2>
        <div>
            <label>New Password</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Update Password</button>
    </form>
</body>
</html>
